{% extends "base.html" %}

{% block content %}
    <figure style="margin: 0.5rem 1rem 1.5rem; border: solid 1px gray; border-radius: 3px">
        <figcaption style="padding: 5px 7px 0 7px"><h2>Sema zayka - Начало эпохи (Альбом - Начало Эпохи)</h2></figcaption>
        <hr style="margin-top: 10px; margin-bottom: 8px; border: 0; border-top: 1px solid rgba(0,0,0,.1)">
        <audio controls style="padding: 2px 5px 2px 5px" src="static/audio/nachalo_epochi.mp3">
                <a href="static/audio/nachalo_epochi.mp3">
                    Download audio
                </a>
        </audio>
<!--        <div class="button-like" style="position: absolute; margin-top: 10px; width: 35px; height: 35px; border-radius: 50%;-->
<!--                    display: inline-block; background-color: white;">-->
<!--             <img src="static/img/decorate/nonclick_heart.png" style="width: 75%; margin: 5px 5px 3px 5px;"-->
<!--                  alt="Icon nonclick heart">-->
<!--        </div>-->
    </figure>
    <figure style="margin: 0.5rem 1rem 1.5rem; border: solid 1px gray; border-radius: 3px">
        <figcaption style="padding: 5px 7px 0 7px"><h2>Sema zayka - Дело (Альбом - Начало Эпохи)</h2></figcaption>
        <hr style="margin-top: 10px; margin-bottom: 8px; border: 0; border-top: 1px solid rgba(0,0,0,.1)">
        <audio controls style="padding: 2px 5px 2px 5px" src="static/audio/delo.mp3">
                <a href="static/audio/delo.mp3">
                    Download audio
                </a>
        </audio>
    </figure>
    <figure style="margin: 0.5rem 1rem 1.5rem; border: solid 1px gray; border-radius: 3px">
        <figcaption style="padding: 5px 7px 0 7px"><h2>Sema zayka - Хочу повидовать (Альбом - Начало Эпохи)</h2></figcaption>
        <hr style="margin-top: 10px; margin-bottom: 8px; border: 0; border-top: 1px solid rgba(0,0,0,.1)">
        <audio controls style="padding: 2px 5px 2px 5px" src="static/audio/hochu_povidovat.mp3">
                <a href="static/audio/hochu_povidovat.mp3">
                    Download audio
                </a>
        </audio>
    </figure>
    <figure style="margin: 0.5rem 1rem 1.5rem; border: solid 1px gray; border-radius: 3px">
        <figcaption style="padding: 5px 7px 0 7px"><h2>Sema zayka - Мы на стиле (Альбом - Начало Эпохи)</h2></figcaption>
        <hr style="margin-top: 10px; margin-bottom: 8px; border: 0; border-top: 1px solid rgba(0,0,0,.1)">
        <audio controls style="padding: 2px 5px 2px 5px" src="static/audio/mi_na_stile.mp3">
                <a href="static/audio/mi_na_stile.mp3">
                    Download audio
                </a>
        </audio>
    </figure>
    <figure style="margin: 0.5rem 1rem 1.5rem; border: solid 1px gray; border-radius: 3px">
        <figcaption style="padding: 5px 7px 0 7px"><h2>Sema zayka - 3 утра (Альбом - 3 утра)</h2></figcaption>
        <hr style="margin-top: 10px; margin-bottom: 8px; border: 0; border-top: 1px solid rgba(0,0,0,.1)">
        <audio controls style="padding: 2px 5px 2px 5px" src="static/audio/3_utra.mp3">
                <a href="static/audio/3_utra.mp3">
                    Download audio
                </a>
        </audio>
    </figure>
    <figure style="margin: 0.5rem 1rem 1.5rem; border: solid 1px gray; border-radius: 3px">
        <figcaption style="padding: 5px 7px 0 7px"><h2>Sema zayka - Дай слово (Альбом - Дай слово)</h2></figcaption>
        <hr style="margin-top: 10px; margin-bottom: 8px; border: 0; border-top: 1px solid rgba(0,0,0,.1)">
        <audio controls style="padding: 2px 5px 2px 5px" src="static/audio/dai_slovo.mp3">
                <a href="static/audio/dai_slovo.mp3">
                    Download audio
                </a>
        </audio>
    </figure>
    <figure style="margin: 0.5rem 1rem 1.5rem; border: solid 1px gray; border-radius: 3px">
        <figcaption style="padding: 5px 7px 0 7px"><h2>Sema zayka - Потрачено (Альбом - Потрачено)</h2></figcaption>
        <hr style="margin-top: 10px; margin-bottom: 8px; border: 0; border-top: 1px solid rgba(0,0,0,.1)">
        <audio controls style="padding: 2px 5px 2px 5px" src="static/audio/potracheno.mp3">
                <a href="static/audio/potracheno.mp3">
                    Download audio
                </a>
        </audio>
    </figure>

    <style>
        .button-like:hover {
            cursor: pointer;
            border: solid 1px black;
            border-radius: 50%;
        }
        .button-like:focus {
            cursor: pointer;
            border: solid 1px red;
            border-radius: 50%;
        }
    </style>
{% endblock %}
